doconfig.sh
recomp.sh
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
src/.deps
src/Makefile
src/Makefile.in
stamp-h1
src/*.o
*~
compile
src/allHamDna
src/bwtb3m
src/bytestreamToLz4
src/bwtb3mtobwa
src/bwtb3mdecoderl
src/digitsToCompact
src/fagzToCompact
src/hwtToRlHwt
src/probeScanDna
src/align
src/align.cpp_
src/bwtdecodeblock
src/hwtToLCP
src/sortPreIsa
bumpversion.sh
src/bwtcomputessa
src/bwttestdecodespeed
src/arraytocompact
src/bwttodnarank
src/bwttodnkarank
src/fa4suffixarraytocompact
src/fagzToCompact4
src/sasubsample
src/decodecompact
src/fagzToCompact4BigBand
testit.sh
testit.sh.log
src/bwttohwt
src/fagzToCompact4BigBandBiDir
